<div class="mdl-grid" *ngIf="machineSpecificationUtility != null">
  <div 
      *ngIf="machineSpecificationUtility.machineList.length > 0" 
      class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <h6>Machine ID</h6>
    <select
        [(ngModel)]="currentSettings.machine"
        (input)="updateMachineID($event.target.value)">
      <option *ngFor="let machine of machineSpecificationUtility.machineList">{{machine}}</option>
    </select>
  </div>

  <div 
      *ngIf="machineSpecificationUtility.machineList.length > 0 && currentSettings.machine != null" 
      class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <h6>Energy</h6>
    <select
        [(ngModel)]="currentSettings.energy"
        (input)="updateEnergy($event.target.value)"
        *ngIf="machineSpecificationUtility.currentSpecification.energy.length > 0">
      <option *ngFor="let energy of machineSpecificationUtility.currentSpecification.energy" value="{{energy}}">{{energy}} MeV</option>
    </select>
    <p *ngIf="machineSpecificationUtility.currentSpecification.energy == 0">
      This machine doesn't have any energies defined. Please 
      <a routerLink="/specifications" routerLinkActive="active">
        define energies.
      </a>
    </p>
  </div>

  <div 
      *ngIf="machineSpecificationUtility.machineList.length > 0 && currentSettings.machine != null" 
      class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <h6>Applicator</h6>
    <select 
        [(ngModel)]="currentSettings.applicator"
        (input)="updateApplicator($event.target.value)"
        *ngIf="machineSpecificationUtility.currentSpecification.applicator.length > 0">
      <option *ngFor="let applicator of machineSpecificationUtility.currentSpecification.applicator">{{applicator}}</option>
    </select>
    <p *ngIf="machineSpecificationUtility.currentSpecification.applicator == 0">
      This machine doesn't have any applicators defined. Please 
      <a routerLink="/specifications" routerLinkActive="active">
        define applicators.
      </a>
    </p>
  </div>

  <div 
      *ngIf="machineSpecificationUtility.machineList.length > 0 && currentSettings.machine != null" 
      class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <h6>SSD</h6>
    <select  
        [(ngModel)]="currentSettings.ssd"
        (input)="updateSSD($event.target.value)"
        *ngIf="machineSpecificationUtility.currentSpecification.ssd.length > 0">
      <option *ngFor="let ssd of machineSpecificationUtility.currentSpecification.ssd">{{ssd}}</option>
    </select>
    <p *ngIf="machineSpecificationUtility.currentSpecification.ssd == 0">
      This machine doesn't have an ssd defined. Please 
      <a routerLink="/specifications" routerLinkActive="active">
        define at least one ssd.
      </a>
    </p>
  </div>
</div>
  
<div class="mdl-grid" *ngIf="machineSpecificationUtility == null">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <h6>Machine ID</h6>
    <select></select>
  </div>
</div>