<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
    <h5>Use models</h5>
    <p>
      This component is where created models are used. 
      Factors for prediction will be able to be inputted using width, and then either length or area, and optionally
      a measured factor can be included for the purpose of comparing model results with measurement.
    </p>
    <p>
      You can either use the parameterisation component to parameterise your shapes, or if you have a large data set of 
      generic shapes you need only determine the diameter of the largest encompassed circle to define width, and then
      you may input shape area instead of length. 
      For example, the diameter of the largest fully encompassed circle within a rectangle is the width of the rectangle, 
      and the area of a rectangle is width x length.
      This allows you to quickly check large data sets of previous measurements on generic shapes.
    </p>
  </div>

  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
    <h5>Choose machine configuration</h5>
    <my-choose-specifications #settingsPicker
      (settingsUpdated)=currentMachineSettingsUpdated($event)>
    </my-choose-specifications>
  </div>

  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
    <h5>Inserts being predicted</h5>
    <my-width-length-area-input #textboxInputs
      [dataInputs]=modelData.predictions
      [textboxLabels]=textboxLabels
      [triggerUpdate]=false
      (validTextBoxChange)=onValidTextboxChange()></my-width-length-area-input>
    <!--<p>Predicted factors: {{modelData.predictions.predictedFactor}}</p>
    <p>Prediction minus measured: {{predictionDifference}}</p>-->

    
  </div>

  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone" #plotContainer>
    <div *ngIf="modelData.predictions.width.length > 0 && modelData.predictions.length.length > 0 && modelData.predictions.predictedFactor != null">
      <my-bokeh-use-model
        [title]="'Model Plot'"
        [scatter_x]="modelData.predictions.width"
        [scatter_y]="modelData.predictions.length"
        [area]="modelData.predictions.area"
        [scatter_z]="modelData.predictions.measuredFactor"
        [predicted_factor]="modelData.predictions.predictedFactor"
        [pcolour_x]="modelData.model.width"
        [pcolour_y]="modelData.model.length"
        [pcolour_z]="modelData.model.predictedFactor"
        [plot_width]="plot_width"
        [plot_height]="380"
        [selectionList]="selectionList">
      </my-bokeh-use-model>
    </div>
    <div *ngIf="modelData.model.width.length == 0 || modelData.model.length.length == 0|| modelData.model.predictedFactor.length == 0">
      <p>
        A model has not been calculated for this machine specification.
        If you do have at least 8 data points please calculate the spline model on the           
        <a routerLink="/create-model" routerLinkActive="active">
          create model component.
        </a>
      </p>
    </div>
    
  </div>



  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">

    <h5>Batch add or delete factors</h5>

    <button *ngIf="selectionList != null"
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      angulartics2On="click" angularticsEvent="Use Model | Move selected factors onto model if able "
      [disabled]="disableSendToModelButtons || currentSettings.machine == null || currentSettings.energy == null || currentSettings.energy == 0 || currentSettings.applicator == null || currentSettings.applicator == '' || currentSettings.ssd == null || currentSettings.ssd == 0"
      (click)="moveSelectedFactorsToModel()">Move selected factors onto model if able 
    </button>
    <button *ngIf="selectionList != null"
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      angulartics2On="click" angularticsEvent="Use Model | Add selected factors onto model if able "
      [disabled]="disableSendToModelButtons || currentSettings.machine == null || currentSettings.energy == null || currentSettings.energy == 0 || currentSettings.applicator == null || currentSettings.applicator == '' || currentSettings.ssd == null || currentSettings.ssd == 0"
      (click)="addSelectedFactorsToModel()">Add selected factors onto model if able           
    </button>
    <button *ngIf="selectionList != null"
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      angulartics2On="click" angularticsEvent="Use Model | Remove selected factors"
      [disabled]="selectionList.indexOf(true) == -1"
      (click)="removeSelectedFactors()">Remove selected factors
    </button>

    <div style="overflow: auto">
      <my-insert-table
        [width]="modelData.predictions.width"
        [length]="modelData.predictions.length"
        [area]="modelData.predictions.area"
        [predictedFactor]="modelData.predictions.predictedFactor"
        [measuredFactor]="modelData.predictions.measuredFactor"
        [canBeAdded]="canBeSentToModel"
        (selectionChangedEvent)="selectionChanged($event)"></my-insert-table>
    </div>
  </div>
</div>