<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet" style="display: flex; align-items: center; flex-flow: row wrap;">
    <h5>Equivalent ellipse parameterisation</h5>
    <p>This is for the determination of equivalent ellipse widths and lengths as defined in the paper method.</p>

    <p>
      To begin shape parameterisation you need to define your insert shape. 
      This can be done by editing the x and y coordinates within the text boxes below or by using a shape       
      <a routerLink="/dicom" routerLinkActive="active">
        pulled from a dicom file.
      </a>
    </p>

    <p>
      Coordinates can be separated by commas (,), semicolons (;), tabs, or new lines.
      This web app should handle copying and pasting from a range of sources (including excel).
      Number inputs can only contain the characters 0-9, a minus sign (-) and decimal points (.).
    </p>

    <mdl-textfield
      type="text"
      label="X coordinates (cm @iso)"
      [(ngModel)]="textAreaX"
      (input)="inputTextAreaX($event.target.value)"
      rows=4
      floating-label
      [disabled]="dataInFlight"
      [style.width]="'100%'"></mdl-textfield>

    <mdl-textfield
      type="text"
      label="Y coordinates (cm @iso)"
      [(ngModel)]="textAreaY"
      (input)="inputTextAreaY($event.target.value)"
      rows=4
      floating-label
      [disabled]="dataInFlight"
      [style.width]="'100%'"></mdl-textfield>

    <p *ngIf="!equalLengths">
      The x and y coordinate lengths need to be the same as each other.
    </p>

    <p *ngIf="insertData.parameterisation.insert.x.length < 3 || insertData.parameterisation.insert.y.length < 3">
      You need at least 3 data points to create an insert shape.
    </p>

    <div style="width:100%; height:30px"></div>

    <button
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      angulartics2On="click" angularticsEvent="Parameterise | Load demo data"
      [disabled]="submitDisabled"
      (click)="loadDemoData()">Load Demo Data         
    </button>

    <div style="width:20px; height:30px"></div>

    <button
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      angulartics2On="click" angularticsEvent="Parameterise | Parameterise insert"
      [disabled]="submitDisabled || !xInputValid || !yInputValid || !equalLengths"
      (click)="onSubmit()">Parameterise Insert          
    </button>



    <div [hidden]="serverResponseValid">
      {{serverErrorMessage}}
    </div>

    <div style="height:20px; width:100%;"></div>

    <my-plot 
      [insert_x]="insertData.parameterisation.insert.x"
      [insert_y]="insertData.parameterisation.insert.y"
      [circle]="insertData.parameterisation.circle"
      [ellipse]="insertData.parameterisation.ellipse"
      [enabled]="xInputValid && yInputValid && equalLengths">
    </my-plot>

    <div style="height:20px; width:20px;"></div>

    <my-width-length-table
      [width]="insertData.parameterisation.width"
      [length]="insertData.parameterisation.length"
      [enabled]="xInputValid && yInputValid && equalLengths">
    </my-width-length-table>

  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
    <h5>Send parameterisation to model</h5>
    <p>
      Once you have parameterised an insert shape you may either predict this insert with the model, or you may add the insert to the model.
    </p>
    <p>
      To predict the insert with the model you must have filled in the correct machine ID, energy, applicator, and ssd in the text boxes below.
      Furthermore these inputs need to correspond to one of the 
      <a routerLink="/specifications" routerLinkActive="active">
        machine specifications you have defined.
      </a>
    </p>
    <p>
      To append the current insert shape along with its measured factor to the model you must have filled in the corresponding machine ID, energy, applicator, ssd, and measured factor in the text boxes below.
      Once again the machine specifications given need to correspond to one of the 
      <a routerLink="/specifications" routerLinkActive="active">
        machine specifications you have defined.
      </a>
    </p>


    <mdl-textfield
      type="text"
      label="Machine (ID)"
      (input)="insertDataChange()"
      floating-label
      [(ngModel)]="insertData.machine"
      style="width:100%"></mdl-textfield>

    <p *ngIf="!machineExists">
      This machine ID does not exist within your 
      <a routerLink="/specifications" routerLinkActive="active">
        provided machine specifications.
      </a>
    </p>
    <mdl-textfield
      type="text"
      label="Energy (Nominal or MeV)"
      (input)="insertDataChange()"
      floating-label
      [(ngModel)]="insertData.energy"
      style="width:100%"></mdl-textfield>
    <mdl-textfield
      type="text"
      label="Applicator (ID)"
      (input)="insertDataChange()"
      floating-label
      [(ngModel)]="insertData.applicator"
      style="width:100%"></mdl-textfield>
    <mdl-textfield
      type="text"
      label="SSD (cm)"
      (input)="insertDataChange()"
      floating-label
      [(ngModel)]="insertData.ssd"
      style="width:100%"></mdl-textfield>

    <p *ngIf="!machineSettingsExist">
      These specific machine settings do not exist within your       
      <a routerLink="/specifications" routerLinkActive="active">
        provided machine specifications.
      </a>
    </p>

    <mdl-textfield #measuredFactorInput
      type="text"
      label="Measured insert factor (as per TG 25)"
      (input)="insertDataChange()"
      floating-label
      [(ngModel)]="insertData.measuredFactor"
      style="width:100%"></mdl-textfield>

    <button
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      angulartics2On="click" angularticsEvent="Parameterise | Add measured factor to model"
      [disabled]="!ableToAddDataToModel || !machineSettingsExist || measuredFactorInput.value==null || measuredFactorInput.value=='' || submitDisabled || !xInputValid || !yInputValid || !equalLengths"
      (click)="addMeasuredFactor(measuredFactorInput.value)">Add Measured Factor to Model            
    </button>

    <p *ngIf="dataAlreadyExistsOnModel && !submitDisabled && xInputValid && yInputValid && equalLengths && machineSettingsExist">
      This width, length, and measured factor combination exists within the model.       
      <a routerLink="/model" routerLinkActive="active">
        View the model.
      </a>
    </p>
    
    <div style="height:20px; width:20px;"></div>




    <button
      mdl-button mdl-button-type="raised"
      mdl-colored="primary" 
      mdl-ripple
      angulartics2On="click" angularticsEvent="Parameterise | Predict factor with model"
      [disabled]="!machineSettingsExist || submitDisabled || !xInputValid || !yInputValid || !equalLengths || insertData.parameterisation.width == null || insertData.parameterisation.length == null"
      (click)="predictFactor()">Predict Factor with Model        
    </button>




  </div>



  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
    <h5>Change parameterisation server url (optional)</h5>
    <p>Only change the following address if you wish to use your own server. This is not required to be edited. The default server is: <br>
      <a>http://electronapi.simonbiggs.net/parameterise</a>       
    </p>
    <mdl-textfield
      type="text"
      label="Parameterisation Server Address"
      (input)="parameterisationServerChange($event.target.value)"
      floating-label
      [(ngModel)]="parameteriseURL"
      style="width:100%"></mdl-textfield>
  </div>

</div>
