<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
    <h3 itemprop="name">Electron insert factor modelling</h3>

    <h4>Description</h4>
    <p>
      This online web app is for the modelling of the portion of the electron output factor that is dependent on the shape of the shielding insert mounted within the applicator. This allows modelling insert factors using only the measured factors already available at a centre. Should all outliers be removed from the data set the user might expect as low as 0.5% standard uncertainty for factor prediction with as little as 8 data points.
    </p>
    <p>
      If you find bugs, or have any usability suggestions please <a href="mailto:mail@simonbiggs.net">email me</a> so that I may make appropriate fixes and improvements.
    </p>

    <h4>Publication</h4>
    <!--<h6>Original paper</h6>-->
    <p>The paper detailing the algorithim and its validation:</p>
    <p>
      S. Biggs, M. Sobolewski, R. Murry, J. Kenny, Spline modelling electron insert factors using routine measurements. Physica Medica (2015), <a href="http://dx.doi.org/10.1016/j.ejmp.2015.11.002">doi:10.1016/j.ejmp.2015.11.002</a>.
    </p>


    <h4>Web app structure</h4>
    <p>This web app is divided into six logical components all of which can be accessed from the navigation menu. These are outlined below:</p>
      <ul>
        <li>
          <a routerLink="/specifications" routerLinkActive="active">
            Machine specifications component
          </a>
          <ul><li>Used to define your centre specific machine specifications.</li></ul>   
          
        </li>
        <li>
          <a routerLink="/dicom" routerLinkActive="active">
            Dicom component
          </a>
          <ul><li>Used to extract patient insert shapes from Dicom files.</li></ul>
        </li>
        <li>
          <a routerLink="/parameterise" routerLinkActive="active">
            Parameterisation component
          </a>
          <ul><li>Used to parameterise insert shapes into equivalent ellipse widths and lengths for use within the empirical model.</li></ul>
        </li>
        <li>
          <a routerLink="/create-model" routerLinkActive="active">
            Create model component
          </a>
          <ul><li>Use this to create the model once there are at least 8 measured factors for a given machine, applicator, energy, ssd combination.</li></ul>
        </li>
        <li>
          <a routerLink="/use-model" routerLinkActive="active">
            Use model component
          </a>
          <ul><li>Use this to quickly calculate small or large numbers of predicted factors.</li>
            <li>Measured factors can be given here to batch evaluate the models ability to predict factors for validation purposes.</li></ul>          
        </li>
        <li>
          <a routerLink="/database" routerLinkActive="active">
            Database management component
          </a>
          <ul><li>Use this to transfer and backup the data within the local browser data.</li></ul>
          
        </li>
      </ul>

   
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">      

    <h4>Demo Instructions</h4>
    <p>
      If you wish to simply demo this app these are the following steps you can take:
    </p>
    <ul>
      <li>
        Within the 
        <a routerLink="/dicom" routerLinkActive="active">
          dicom component 
        </a>
        download the demo dicom file, load it into the web app and see the insert shapes be pulled from the dicom file without any network traffic
      </li>
      <li>
        Within the 
        <a routerLink="/parameterise" routerLinkActive="active">
          parameterise component
        </a>
        press the "Load Demo Data" button and then press the "Parameteterise Insert" button to see the parameterisation algorithim in action
      </li>
      <li>
        Within the 
        <a routerLink="/model" routerLinkActive="active">
          model component
        </a>
        press the "Load Demo Data" button and then press the "Run Spline Model" to see the spline model being created. 
        You can then either hover over the model, or tap on the model to view the relevant values.
      </li>
    </ul>


    <h4>Implementation instructions</h4>
    <p>
      To implement this web app in your centre you need to do the following:
    </p>
    <ul>
      <li>  
        Specify the machine models and the corresponding applicators, energies, and ssds within the    
        <a routerLink="/specifications" routerLinkActive="active">
          machine specification component.
        </a>
      </li>
      <li> 
        Collate / measure your electron insert factor measurements. These factors are to measured in accordance to TG 25. 
        Measured insert factors from regular or irregular shapes are able to be used.  
      </li>
      <li>
        Parameterising new insert shapes
        <ul>
          <li>
            If the insert shapes are ellipses, you may directly input the ellipse widths and lengths as projected to the isocentre within the 
            <a routerLink="/create-model" routerLinkActive="active">
              create model component.
            </a>
          </li>
          <li>
            If you know the x and y coordinates of your insert then determine the equivalent ellipse widths and lengths by inputting x and y coordinates as defined at isocentre within the 
            <a routerLink="/parameterise" routerLinkActive="active">
              parameterisation component.
            </a>          
          </li>
          <li>
            If the insert shape is defined within your planning system, export the patient plan to dicom and then read the insert coordinates from the dicom file using the
            <a routerLink="/dicom" routerLinkActive="active">
              dicom component.
            </a>          
          </li>
          <li>
            If you have a batch of generic insert shapes you can directly input the widths and areas of the shapes into the  
            <a routerLink="/create-model" routerLinkActive="active">
              create model component</a>. The width is defined as the diameter of the largest fully encompassed circle of your insert shapes at isocentre. The area is defined as the insert shape area projected to isocentre.
            Rectangles can be input in this way by simply inputting the rectangle's width projected to isocentre as width, and its area projected to isocentre as area.
          </li>
        </ul>
      </li>
      <li>
        Once you have the corresponding equivalent ellipse widths and lengths for your measured factors these may be appended to the relevant machine configuration within the 
        <a routerLink="/create-model" routerLinkActive="active">
          create model component
        </a>
      </li>
      <li>
        Whenever a machine configuration gets at least 8 data points you may press the "Run Spline Model" on the 
        <a routerLink="/create-model" routerLinkActive="active">
          create model component
        </a>
        which will allow the prediction of insert factors for other widths and lengths.
      </li>
      <li>
        The 
        <a routerLink="/use-model" routerLinkActive="active">
          use model component
        </a>
        is specifically designed to aid you in looking up factors and being able to validating your model by looking up large batches of data for which you already know the factor. 
      </li>
      <li>
        Once you are content with your model use the 
        <a routerLink="/database" routerLinkActive="active">
          database management component
        </a>
        to export and backup your data. This data can be placed on a shared drive for access by users who need to use the model.
      </li>
      <li>
        If you need to have a consistent reliable interface you may wish to consider downloading a copy of this web app and serving it within your centre's intranet.
        This can be achieved by following the relevant steps given within the 
        <a routerLink="/details" fragment="locally" routerLinkActive="active">
          further details component</a>.
      </li>
    </ul>

    <!--<h4>Use instructions</h4>
    <ul>
      <li>
        Export the patient plan to dicom and then read the insert coordinates from the dicom file using the
        <a routerLink="/dicom" routerLinkActive="active">
          dicom component.
        </a>          
      </li>
      <li>
        Press the "Parameterise Insert" button to determine the equivalent ellipse width and length
      </li>
      <li>
        Press the "Predict Factor with Model" button to automatically change the machine configuration to that which matches your loaded insert
      </li>
      <li>
        Hover your mouse over the relevant width and length within the model to predict your insert factor
      </li>
    </ul>-->


  </div>

</div>