<mdl-layout mdl-layout-fixed-drawer mdl-layout-fixed-header>
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-title>{{pageTitle}}</mdl-layout-title>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer>
    <mdl-layout-title>Electron Factors</mdl-layout-title>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="/home" routerLinkActive="active" href>Home</a>
      <a class="mdl-navigation__link" routerLink="/export-import" routerLinkActive="active" href>Export / Import</a>
      <a class="mdl-navigation__link" routerLink="/specifications" routerLinkActive="active" href>Machine specifications</a>
      <a class="mdl-navigation__link" routerLink="/dicom" routerLinkActive="active" href>Dicom shape extraction</a>
      <a class="mdl-navigation__link" routerLink="/parameterise" routerLinkActive="active" href>Parameterise inserts</a>
      <a class="mdl-navigation__link" routerLink="/model" routerLinkActive="active" href>Model insert factors</a>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content>
    <router-outlet></router-outlet>
  </mdl-layout-content>
</mdl-layout>