<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h5>Locally reading Dicom patient plan files</h5>
    <p>
      Use this component to read a dicom patient plan file and extract the electron insert shape. 
      Export a dicom patient plan file that containts an electron plan from your planning system then open it using the file input box below.
    </p>
    <p>
      For testing purposes you can download a demo dicom file from <a href="/30x16x30_RandomElectronShapes.dcm">here</a>.
    </p>
  </div>

  <div class="mdl-cell mdl-cell--6-col">
    <input type='file' (change)='openFile($event)'>
    <div *ngIf="dicomWarning">{{dicomWarning}}</div>
  </div>

  <div class="mdl-cell mdl-cell--6-col">
    <button #getBlockDataButton
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      angulartics2On="click" angularticsEvent="Dicom | Get dicom insert data"
      [disabled]="true"
      (click)="getBlockData()">Get Dicom Insert Data
    </button>

    
  </div>

  <div *ngFor="let insert of insertList" class="mdl-cell mdl-cell--6-col">
    <mdl-card mdl-shadow="6">


      <my-send-to-parameterisation
        [machine]=insert.machine
        [coordinates]=insert.coordinates
        [applicator]=insert.applicator
        [ssd]=insert.ssd
        [energy]=insert.energy>
      </my-send-to-parameterisation>

      <mdl-card-actions mdl-card-border>
        <button
          mdl-button 
          mdl-ripple
          angulartics2On="click" angularticsEvent="Dicom | Send to parameterisation"
          (click)="sendToParameterisation(insert)">Send to parameterisation           
        </button>
      </mdl-card-actions>
    </mdl-card>
    


    <!--<p>{{insert | json}}</p>-->
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <h5>Further information</h5>
    <p>This Dicom loader does not send the Dicom file off to a server. The entire reading of the dicom file is done within javascript.
    You can confirm this yourself by using the chrome web browser, pressing 'Ctrl + Shift + I'
    and then clicking on the network tab. When the file is chosen, then the block data is pulled and sent to parameterisation,
    at no point in this interaction is there network traffic.</p>

    <p>The only data that will be sent to the server will be on either the paremeterisation tab or the model tab, and this data will
      just consist of x and y coordinates or widths, lengths, and factors.
    </p>
  </div>
</div>