<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <h3>Electron insert factor modelling</h3>
    <p>
      Web App URL: <a routerLink="/home" routerLinkActive="active">http://electrons.simonbiggs.net</a><br>
      Tags: Medical physics, electron inserts, electron cutouts, Python, Angular2, Bokeh, spline modelling<br>
      Last update: 2016-10-18<br>
      Version: 0.1.0-beta<br>
      Developed by: <a href="https://github.com/SimonBiggs">Simon Biggs</a>
    </p>
    
    <h4>Description</h4>
    <p>
      This online web app is for the modelling of the portion of the electron output factor that is dependent on the shape of the shielding insert mounted within the applicator. This allows modelling insert factors using only the measured factors already available at a centre. Should all outliers be removed from the data set the user might expect as low as 0.5% standard uncertainty for factor prediction with as little as 8 data points.
    </p>


    <p>If you have any issues or feedback please contact me at <a href="mailto:mail@simonbiggs.net">mail@simonbiggs.net</a>.</p>

    <h4>Instructions</h4>
    <h5>Overview</h5>
    <p>This web app is divided into four logical components:</p>
      <ul>
        <li>   
          Defining your centre specific machine specifications within the   
          <a routerLink="/specifications" routerLinkActive="active">
            machine specifications component
          </a>
        </li>
        <li>
          Insert shape extraction from a dicom patient plan within the
          <a routerLink="/dicom" routerLinkActive="active">
            dicom component
          </a>
        </li>
        <li>
          Parameterise the insert shapes into equivalent widths and lengths within the
          <a routerLink="/parameterise" routerLinkActive="active">
            parameterisation component
          </a>
        </li>
        <li>
          Take at least 8 widths, lengths, and measured factors for a given machine, applicator, energy, ssd combination and create an empirical model within the
          <a routerLink="/model" routerLinkActive="active">
            model component
          </a>
        </li>
      </ul>
      
      <h5>To demo</h5>
      <p>
        If you wish to simply demo this app these are the following steps you can take:
      </p>
      <ul>
        <li>
          Within the 
          <a routerLink="/dicom" routerLinkActive="active">
            dicom component 
          </a>
          download the demo dicom file, load it into the web app and see the insert shapes be pulled from the dicom file without any network traffic
        </li>
        <li>
          Within the 
          <a routerLink="/parameterise" routerLinkActive="active">
            parameterise component
          </a>
          press the "Load Demo Data" button and then press the "Parameteterise Insert" button to see the parameterisation algorithim in action
        </li>
        <li>
          Within the 
          <a routerLink="/model" routerLinkActive="active">
            model component
          </a>
          press the "Load Demo Data" button and then press the "Run Spline Model" to see the spline model being created. 
          You can then either hover over the model, or tap on the model to view the relevant values.
        </li>
      </ul>

      <h5>To implement in your centre</h5>
      <p>
        To implement this web app in your centre you need to do the following:
      </p>
      <ul>
        <li>  
          Specify the machine models and the corresponding applicators, energies, and ssds within the    
          <a routerLink="/specifications" routerLinkActive="active">
            machine specification component.
          </a>
        </li>
        <li> 
          Collate / measure your electron insert factor measuremens. These factors are to measured in accordance to TG 25.   
        </li>
        <li>
          If the insert shapes are ellipses, you may directly input the ellipse widths and lengths as projected to the isocentre within the 
          <a routerLink="/model" routerLinkActive="active">
            model component.
          </a>
        </li>
        <li>
          If the insert shape is a generic shape or you know the x and y coordinates of your insert then determine the equivalent ellipse widths and lengths by inputting x and y coordinates as defined at isocentre within the 
          <a routerLink="/parameterise" routerLinkActive="active">
            parameterisation component.
          </a>          
        </li>
        <li>
          If the insert shape is defined within your planning system, export the patient plan to dicom and then read the insert coordinates from the dicom file using the
          <a routerLink="/dicom" routerLinkActive="active">
            dicom component.
          </a>          
        </li>
        <li>
          Once you have the corresponding equivalent ellipse widths and lengths for your measured factors these may be appended to the relevant machine configuration within the 
          <a routerLink="/model" routerLinkActive="active">
            model component
          </a>
        </li>
        <li>
          Whenever a machine configuration gets at least 8 data points you may press the "Run Spline Model" on the 
          <a routerLink="/model" routerLinkActive="active">
            model component
          </a>
          which will allow the prediction of insert factors for other widths and lengths.
        </li>
      </ul>

      <h5>To use the web app after it has been implemented</h5>
      <ul>
        <li>
          Export the patient plan to dicom and then read the insert coordinates from the dicom file using the
          <a routerLink="/dicom" routerLinkActive="active">
            dicom component.
          </a>          
        </li>
        <li>
          Press the "Parameterise Insert" button to determine the equivalent ellipse width and length
        </li>
        <li>
          Press the "Predict Factor with Model" button to automatically change the machine configuration to that which matches your loaded insert
        </li>
        <li>
          Hover your mouse over the relevant width and length within the model to predict your insert factor
        </li>
      </ul>

  </div>
  <div class="mdl-cell mdl-cell--6-col">

    <h4>Paper</h4>
    <p>The paper outlining this method:</p>
    <p>
      S. Biggs, M. Sobolewski, R. Murry, J. Kenny, Spline modelling electron insert factors using routine measurements. Physica Medica (2015), <a href="http://dx.doi.org/10.1016/j.ejmp.2015.11.002">doi:10.1016/j.ejmp.2015.11.002</a>.
    </p>


    <h4>Disclaimer</h4>
    <p>
      Any use of this web app or any of its code has you accepting the AGPL3+ license which includes no warranty that this code is fit for a particular purpose. Attempts have been made to make the code transparent and it is recommended that an experienced python programmer and physicist who understands the procedure outlined in the paper and the requirements of your centre identifies whether or not this method and code is fit for your use.</p>


    <h4>Steps required to freeze your own version of this web app</h4>
      As I make improvements to this web app I will be updating this online version. 
      You may desire to not have the web app you are using day to day change on you.
      To achieve this you can create your own version of the server and your own version of the web app.
      
      For now this will require a bit of your own working out until I provide further instructions.



    <h4>Source code</h4>
    <p>
      For the purpose of coding transparency and to enable the user to take responsibility for the code themselves any redistribution
      or derivative works of this web app need to include the source code of any additions made and need to include a way
      for users to easily access the source code of each of the components used or linked to.
    </p>

    <h5>Server Code</h5>

    <h6>Base Electron Insert Factor Source Code</h6>
    <p>
      The python file which does the shape parameterisation and insert factor modelling which is used by the server is found here:
      <a href="https://github.com/SimonBiggs/electronfactor-server/blob/master/electroninserts.py">
              https://github.com/SimonBiggs/electronfactor-server/blob/master/electroninserts.py</a>
    </p>

    <h6>Tornado REST API</h6>
    <p>
      The Tornado REST API is found here:
      <a href="https://github.com/SimonBiggs/electronfactor-server/blob/master/main.py">
              https://github.com/SimonBiggs/electronfactor-server/blob/master/main.py</a>
    </p>

    <h6>Heroku App code</h6>
    <p>
      The code to make the heroku app is found here:
      <a href="https://github.com/SimonBiggs/electronfactor-server">
              https://github.com/SimonBiggs/electronfactor-server</a>
    </p>

    <h5>Web App Code</h5>
    <p>
      The source code for this web app is found here:
      <a href="https://github.com/SimonBiggs/electroninserts-webapp">
            https://github.com/SimonBiggs/electroninserts-webapp</a>
    </p>

    <h5>Libraries used</h5>
    <h6>Bokehjs</h6>
    <p>
      The bokehjs library is used for plots. Documentation can be found here:
      <a href="http://bokeh.pydata.org/en/latest/docs/user_guide/bokehjs.html#userguide-bokehjs">
              http://bokeh.pydata.org/en/latest/docs/user_guide/bokehjs.html#userguide-bokehjs</a>
    </p>
    <p>
      Source code can be found here:
      <a href="https://github.com/bokeh/bokeh/tree/master/bokehjs">
              https://github.com/bokeh/bokeh/tree/master/bokehjs</a>
    </p>

    <h6>dcmjs</h6>
    <p>
      The dcmjs library is used for reading dicom files within javascript. Website can be found here:
      <a href="http://dcmjs.org/">
              http://dcmjs.org/</a>
    </p>
    <p>
      Source code can be found here:
      <a href="https://github.com/commontk/dcmjs">
              https://github.com/commontk/dcmjs</a>
    </p>

    <h6>Angular2</h6>
    <p>
      This interface was built using Angular2. Documentation can be found here:
      <a href="https://angular.io/docs/ts/latest/">
              https://angular.io/docs/ts/latest/</a>
    </p>
    <p>
      Source code can be found here:
      <a href="https://github.com/angular/angular">
              https://github.com/angular/angular</a>
    </p>
    <h6>Remaining libraries</h6>
    <p>
      For all remaining libraries used please see the npm package.json file:
      <a href="https://github.com/SimonBiggs/electroninserts-webapp/blob/master/package.json">
              https://github.com/SimonBiggs/electroninserts-webapp/blob/master/package.json</a>
    </p>
    <p>
      And the index file for various imports:
      <a href="https://github.com/SimonBiggs/electroninserts-webapp/blob/master/src/public/index.html">
              https://github.com/SimonBiggs/electroninserts-webapp/blob/master/src/public/index.html</a>
    </p>
  </div>


</div>