<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
    <h5>Description</h5>
    <p>
      Use this component to turn a set of at least 8 measured factors with corresponding equivalent widths and lengths into a spline model.
      These widths and lengths need to be determined using the parameterisation method employed within the 
      <a routerLink="/parameterise" routerLinkActive="active">
        parameterisation component.
      </a>
    </p>
    <p>
      You are free to edit the widths, lengths, and factors manually below, or have the       
      <a routerLink="/parameterise" routerLinkActive="active">
        parameterisation component
      </a>
      automatically add the measured factors to the correct model. Both work interchangably.
      You may only add shapes via the 
      <a routerLink="/parameterise" routerLinkActive="active">
        parameterisation component
      </a>
      if machine ID, applicator, energy, ssd, and measured factor are filled in and they match a machine configuration defined within the 
      <a routerLink="/specifications" routerLinkActive="active">
        specifications component.
      </a> 
    </p>
    <p>
      A spline model is only valid for a single machine configuration. 
      Therefore each machine, applicator, energy, ssd has its own model. 
      Using the machine configuration section below you can change between the configurations.
      This will only work if you have already
      <a routerLink="/specifications" routerLinkActive="active">
        defined your machine configurations.
      </a> 
    </p>

  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
    <h5>Choose machine configuration</h5>
    <p>
      Here is where you select which machine configuration you wish to currently use / edit. 
      You will only see options here if you have actually       
      <a routerLink="/specifications" routerLinkActive="active">
        defined your machine configurations.
      </a> 
    </p>
  </div>

    <div 
        *ngIf="this.machineList.length > 0" 
        class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <h6>Machine ID</h6>
      <select
          [(ngModel)]="currentMachine"
          (input)="updateMachineID($event.target.value)">
        <option *ngFor="let machine of machineList">{{machine}}</option>
      </select>
    </div>

    <div 
        *ngIf="this.machineList.length > 0 && currentMachine != null" 
        class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <h6>Energy</h6>
      <select
          [(ngModel)]="currentEnergy"
          (input)="updateEnergy($event.target.value)"
          *ngIf="machineSpecifications[currentMachine].energy.length > 0">
        <option *ngFor="let energy of machineSpecifications[currentMachine].energy" value="{{energy}}">{{energy}} MeV</option>
      </select>
      <p *ngIf="machineSpecifications[currentMachine].energy == 0">
        This machine doesn't have any energies defined. Please 
        <a routerLink="/specifications" routerLinkActive="active">
          define energies.
        </a>
      </p>
    </div>

    <div 
        *ngIf="this.machineList.length > 0 && currentMachine != null" 
        class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <h6>Applicator</h6>
      <select 
          [(ngModel)]="currentApplicator"
          (input)="updateApplicator($event.target.value)"
          *ngIf="machineSpecifications[currentMachine].applicator.length > 0">
        <option *ngFor="let applicator of machineSpecifications[currentMachine].applicator">{{applicator}}</option>
      </select>
      <p *ngIf="machineSpecifications[currentMachine].applicator == 0">
        This machine doesn't have any applicators defined. Please 
        <a routerLink="/specifications" routerLinkActive="active">
          define applicators.
        </a>
      </p>
    </div>

    <div 
        *ngIf="this.machineList.length > 0 && currentMachine != null" 
        class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <h6>SSD</h6>
      <select  
          [(ngModel)]="currentSSD"
          (input)="updateSSD($event.target.value)"
          *ngIf="machineSpecifications[currentMachine].ssd.length > 0">
        <option *ngFor="let ssd of machineSpecifications[currentMachine].ssd">{{ssd}}</option>
      </select>
      <p *ngIf="machineSpecifications[currentMachine].ssd == 0">
        This machine doesn't have an ssd defined. Please 
        <a routerLink="/specifications" routerLinkActive="active">
          define at least one ssd.
        </a>
      </p>
    </div>

  

  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
    <h5>The spline model</h5>    
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone" #plotContainer>
    <div *ngIf="modelData.measurement.width.length > 0 && modelData.measurement.length.length > 0 && modelData.measurement.factor.length > 0">
      <my-bokeh-pcolour
        [title]="'Model Plot'"
        [scatter_x]="modelData.measurement.width"
        [scatter_y]="modelData.measurement.length"
        [scatter_z]="modelData.measurement.factor"
        [pcolour_x]="modelData.model.width"
        [pcolour_y]="modelData.model.length"
        [pcolour_z]="modelData.model.factor"
        [plot_width]="plot_width"
        [plot_height]="380">
      </my-bokeh-pcolour>
    </div>
    <div *ngIf="modelData.measurement.width.length == 0 || modelData.measurement.length.length == 0|| modelData.measurement.factor.length == 0">
      <p>
        <font color="red">There is currently no data for this combination.</font> If you wish to load some demo data to see the model in action press the "load demo data" button below.
        To set this model up with your own data follow the instructions in the description at the top of this page.
      </p>
    </div>
    <button
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      [disabled]="false"
      (click)="loadDemoData()">Load demo data         
    </button>
      
    <button
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      [disabled]="modelData.measurement.width.length < 8 || modelData.measurement.length.length < 8 || modelData.measurement.factor.length < 8 || dataInFlight || modelData.measurement.factor.length != modelData.measurement.width.length || modelData.measurement.factor.length != modelData.measurement.length.length || modelData.measurement.width.length != modelData.measurement.length.length"
      (click)="basicServerSubmit()">Run Spline Model
    </button>

    <!--<button
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      [disabled]="modelData.measurement.width.length == 0 || modelData.measurement.length.length == 0|| modelData.measurement.factor.length == 0"
      (click)="saveModel()">Save model  
    </button>-->
    <h5>Input widths, lengths, and factors</h5>
    <p>
      Measured widths and lengths can be input by separating by commas, \n (new lines), or \t (tabs). 
      This means you may copy data directly from excel into these text boxes if that is convenient.
    </p>

    <mdl-textfield
      type="text"
      label="Equivalent ellipse widths (cm @iso)"
      [(ngModel)]="this.initialMeasurementWidth"
      (input)="updateMeasurementWidth($event.target.value)"
      rows=4
      floating-label
      [style.width]="'100%'"></mdl-textfield>
    <mdl-textfield
      type="text"
      label="Equivalent ellipse lengths (cm @iso)"
      [(ngModel)]="this.initialMeasurementLength"
      (input)="updateMeasurementLength($event.target.value)"
      rows=4
      floating-label
      [style.width]="'100%'"></mdl-textfield>
    <mdl-textfield
      type="text"
      label="Measured insert factor (as per TG 25)"
      [(ngModel)]="this.initialMeasurementFactor"
      (input)="updateMeasurementFactor($event.target.value)"
      rows=4
      floating-label
      [style.width]="'100%'"></mdl-textfield>
  </div>

  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
    <p>
      <font color="#d3d3d3">Will put a plot highlighting residuals and another highlighting percent prediction differences here.</font>
    </p>

  </div>

  <!--<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">

  </div>-->


  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
    <h5>Model server</h5>
    <p>Change the following address to use your own
      spline modelling server. The default is: <br>
      <a (click)="defaultServer()">http://electronapi.simonbiggs.net/model</a>        
    </p>
    <mdl-textfield
      type="text"
      label="Spline model server address"
      (input)="modelServerChange($event.target.value)"
      floating-label
      [(ngModel)]="modelURL"
      style="width:100%"></mdl-textfield>
  </div>

  <!--<div class="mdl-cell mdl-cell--12-col">
    <h5>Edit raw model data</h5>
    <my-json-edit
      [input]="modelData"
      (inputUpdated)="jsonInputUpdated($event)"
      buttonText="Update Model Data"
      useMyJsonPipe="true">
    </my-json-edit>
  </div>-->


</div>