<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet" style="display: flex; align-items: center; flex-flow: row wrap;">
    <h5>Equivalent ellipse parameterisation</h5>
    <p>This is for the determination of equivalent ellipse widths and lengths as defined in the paper method.</p>

    <p>
      To begin shape parameterisation you need to define your insert shape. 
      This can be done by editing the x and y coordinates within the text boxes below or by using a shape       
      <a routerLink="/dicom" routerLinkActive="active">
        pulled from a dicom file.
      </a>
    </p>

    <p>
      Coordinates can be separated by commas (,), semicolons (;), spaces, tabs, or new lines.
      If you have multiple commas or spaces this will count as only one separator. 
      This web app should handle copying and pasting from a range of sources (including excel).
      Number inputs can only contain the characters 0-9, a minus sign (-) and decimal points (.).
    </p>

    <mdl-textfield
      type="text"
      label="X coordinates (cm @iso)"
      [(ngModel)]="textAreaX"
      (input)="inputTextAreaX($event.target.value)"
      rows=4
      floating-label
      [disabled]="dataInFlight"
      [style.width]="'100%'"></mdl-textfield>

    <mdl-textfield
      type="text"
      label="Y coordinates (cm @iso)"
      [(ngModel)]="textAreaY"
      (input)="inputTextAreaY($event.target.value)"
      rows=4
      floating-label
      [disabled]="dataInFlight"
      [style.width]="'100%'"></mdl-textfield>

    <p *ngIf="!equalLengths">
      The x and y coordinate lengths need to be the same as each other.
    </p>

    <p *ngIf="this.parameterisation.insert.x.length < 3 || this.parameterisation.insert.y.length < 3">
      You need at least 3 data points to create an insert shape.
    </p>

    <div style="width:100%; height:30px"></div>

    <button
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      [disabled]="submitDisabled"
      (click)="loadDemoData()">Load Demo Data         
    </button>

    <div style="width:20px; height:30px"></div>

    <button
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      [disabled]="submitDisabled || !xInputValid || !yInputValid || !equalLengths"
      (click)="onSubmit()">Parameterise Insert          
    </button>



    <div [hidden]="serverResponseValid">
      {{serverErrorMessage}}
    </div>

    <div style="height:20px; width:100%;"></div>

    <my-plot 
      [insert_x]="parameterisation.insert.x"
      [insert_y]="parameterisation.insert.y"
      [circle]="parameterisation.circle"
      [ellipse]="parameterisation.ellipse"
      [enabled]="xInputValid && yInputValid && equalLengths">
    </my-plot>

    <div style="height:20px; width:20px;"></div>

    <my-width-length-table
      [width]="parameterisation.width"
      [length]="parameterisation.length"
      [enabled]="xInputValid && yInputValid && equalLengths">
    </my-width-length-table>

  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
    <h5>Send parameterisation to model</h5>
    <p>
      Once you have parameterised an insert shape you may either predict this insert with the model, or you may add the insert to the model.
    </p>
    <p>
      To predict the insert with the model you must have filled in the correct machine ID, energy, applicator, and ssd in the text boxes below.
      Furthermore these inputs need to correspond to one of the 
      <a routerLink="/specifications" routerLinkActive="active">
        machine specifications you have defined.
      </a>
    </p>
    <p>
      To append the current insert shape along with its measured factor to the model you must have filled in the corresponding machine ID, energy, applicator, ssd, and measured factor in the text boxes below.
      Once again the machine specifications given need to correspond to one of the 
      <a routerLink="/specifications" routerLinkActive="active">
        machine specifications you have defined.
      </a>
    </p>


    <mdl-textfield
      type="text"
      label="Machine (ID)"
      (input)="insertDataChange()"
      floating-label
      [(ngModel)]="insertData.machine"
      style="width:100%"></mdl-textfield>

    <p *ngIf="!machineExists">
      This machine ID does not exist within your 
      <a routerLink="/specifications" routerLinkActive="active">
        provided machine specifications.
      </a>
    </p>
    <mdl-textfield
      type="text"
      label="Energy (Nominal or MeV)"
      (input)="insertDataChange()"
      floating-label
      [(ngModel)]="insertData.energy"
      style="width:100%"></mdl-textfield>
    <mdl-textfield
      type="text"
      label="Applicator (ID)"
      (input)="insertDataChange()"
      floating-label
      [(ngModel)]="insertData.applicator"
      style="width:100%"></mdl-textfield>
    <mdl-textfield
      type="text"
      label="SSD (cm)"
      (input)="insertDataChange()"
      floating-label
      [(ngModel)]="insertData.ssd"
      style="width:100%"></mdl-textfield>

    <p *ngIf="!machineSettingsExist">
      These specific machine settings do not exist within your       
      <a routerLink="/specifications" routerLinkActive="active">
        provided machine specifications.
      </a>
    </p>

    <mdl-textfield #measuredFactor
      type="text"
      label="Measured insert factor (as per TG 25)"
      (input)="insertDataChange()"
      floating-label
      [(ngModel)]="insertData.factor"
      style="width:100%"></mdl-textfield>

    <button
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      [disabled]="!ableToAddDataToModel || !machineSettingsExist || measuredFactor.value==null || measuredFactor.value=='' || submitDisabled || !xInputValid || !yInputValid || !equalLengths"
      (click)="addMeasuredFactor(measuredFactor.value)">Add Measured Factor to Model            
    </button>

    <p *ngIf="dataAlreadyExistsOnModel && !submitDisabled && xInputValid && yInputValid && equalLengths && machineSettingsExist">
      This width, length, and measured factor combination exists within the model.       
      <a routerLink="/model" routerLinkActive="active">
        View the model.
      </a>
    </p>
    
    <div style="height:20px; width:20px;"></div>




    <button
      mdl-button mdl-button-type="raised"
      mdl-colored="primary" 
      mdl-ripple
      [disabled]="!machineSettingsExist || submitDisabled || !xInputValid || !yInputValid || !equalLengths || parameterisation.width == null || parameterisation.length == null"
      (click)="changeToModel()">Predict Factor with Model        
    </button>

    
    <p>
      <font color="#d3d3d3">
        Currently the "Predict Factor with Model" button just changes the active machine specifications to match that given above and then takes you to the model component.
        A future implementation is to have this button plot your insert shape on the model plot and display the predicted factor.
      </font>
    </p>



  </div>



  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
    <h5>Change parameterisation server url (optional)</h5>
    <p>Only change the following address if you wish to use your own server. This is not required to be edited. The default server is: <br>
      <a>http://electronapi.simonbiggs.net/parameterise</a>       
    </p>
    <mdl-textfield
      type="text"
      label="Parameterisation Server Address"
      (input)="parameterisationServerChange($event.target.value)"
      floating-label
      [(ngModel)]="parameteriseURL"
      style="width:100%"></mdl-textfield>
  </div>

  <!--<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
    <h5>Edit raw coordinates</h5>
    <my-json-input #jsonInput
      [insert]="parameterisation.insert"
      [jsonDisabled]="dataInFlight"
      (insertUpdated)="insertUpdated($event)"
      (jsonStatus)="onJsonStatusChange($event)">
    </my-json-input>
  </div>-->

</div>
