<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <p>Parameterisations are saved within your browser's local storage.</p>
  </div>

  <div class="mdl-cell mdl-cell--6-col">
  <my-json-input #jsonInput
    [insert]="parameterisation.insert"
    [jsonDisabled]="dataInFlight"
    (insertUpdated)="insertUpdated($event)"
    (jsonStatus)="onJsonStatusChange($event)">
  </my-json-input>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <button
        mdl-button mdl-button-type="raised" 
        mdl-colored="primary" 
        mdl-ripple
        [disabled]="dataInFlight"
        (click)="loadDemoData()">Load Demo Data            
      </button>

      <button
        mdl-button mdl-button-type="raised" 
        mdl-colored="primary" 
        mdl-ripple
        [disabled]="submitDisabled"
        (click)="onSubmit()">Submit            
      </button>


      <div [hidden]="serverResponseValid">
        {{serverErrorMessage}}
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <my-width-length-table
        [width]="parameterisation.width"
        [length]="parameterisation.length"
        [enabled]="jsonValid">
      </my-width-length-table>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <p>Change the following address to use your own
        parameterisation server. The default is: <br>
        <a>http://electronapi.simonbiggs.net/parameterise</a>       
      </p>
      <mdl-textfield
        type="text"
        label="Parameterisation Server Address"
        (input)="parameterisationServerChange($event.target.value)"
        floating-label
        [(ngModel)]="parameteriseURL"
        style="width:100%"></mdl-textfield>
    </div>
  </div>

  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <my-plot 
      [insert]="parameterisation.insert"
      [circle]="parameterisation.circle"
      [ellipse]="parameterisation.ellipse"
      [enabled]="jsonValid">
    </my-plot>

  </div>
</div>
