<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
    
  </div>

  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
    <h5>Machine specifications editing</h5>
    <p>Currently the editing and deleting of energy, applicator, and SSD entries is not yet implimented.</p>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
    <mdl-card mdl-shadow="6" style="width:100%">
      <mdl-card-title>
        <h2 mdl-card-title-text>Machine IDs</h2>
      </mdl-card-title>

      <mdl-list>
        
        <div *ngFor="let machine of machines">
        
          <div *ngIf="machine!=edittingMachine">
            <mdl-list-item lines="3">
              <mdl-list-item-primary-content>
                <div (click)="editMachine(machine)">
                  <span>{{machine}}</span>
                  <mdl-list-item-text-body>{{specifications[machine].model}}</mdl-list-item-text-body>
                </div>
              </mdl-list-item-primary-content>
              <mdl-list-item-secondary-action>
                <button
                  mdl-button
                  mdl-button-type="icon"
                  mdl-ripple
                  [disabled]="machine==currentMachine || edittingMachine!=null"
                  (click)="changeCurrentMachine(machine)"><mdl-icon>dashboard</mdl-icon>       
                </button>
                <button
                  mdl-button *ngIf="machine!=edittingMachine"
                  mdl-button-type="icon"
                  mdl-ripple
                  [disabled]="false"
                  (click)="editMachine(machine)"><mdl-icon>edit</mdl-icon>       
                </button>
              </mdl-list-item-secondary-action>
            </mdl-list-item>

          </div>

          <div *ngIf="machine==edittingMachine">
            <mdl-list-item lines="3">
              <mdl-list-item-primary-content>
                <mdl-textfield #machineIDTextField
                  type="text"
                  label="Machine ID"
                  [value]="machine"
                  (keyup.enter)="finishMachineEdit(machine, machineIDTextField.value, modelTextField.value)"
                  floating-label
                  style="display:inline;"></mdl-textfield>
                <mdl-textfield #modelTextField
                  type="text"
                  label="Model"
                  [value]="specifications[machine].model"
                  (keyup.enter)="finishMachineEdit(machine, machineIDTextField.value, modelTextField.value)"
                  floating-label
                  style="display:inline;"></mdl-textfield>
              </mdl-list-item-primary-content>

              <mdl-list-item-secondary-action>
                <button
                  mdl-button
                  mdl-button-type="icon"
                  mdl-ripple
                  [disabled]="machine!=edittingMachine"
                  (click)="deleteMachine(machine)"><mdl-icon>delete</mdl-icon>       
                </button>
                <button
                  mdl-button
                  mdl-button-type="icon"
                  mdl-ripple
                  mdl-colored="primary" 
                  [disabled]="machine==currentMachine || edittingMachine!=null"
                  (click)="changeCurrentMachine(machine)"><mdl-icon>dashboard</mdl-icon>       
                </button>
                <button
                  mdl-button
                  mdl-button-type="icon"
                  mdl-ripple
                  [disabled]="false"
                  (click)="finishMachineEdit(machine, machineIDTextField.value, modelTextField.value)"><mdl-icon>done</mdl-icon>       
                </button>
              </mdl-list-item-secondary-action>
            </mdl-list-item>

          </div>
        </div>


      </mdl-list>
      <mdl-card-actions mdl-card-border>
        <mdl-textfield
          type="text"
          label="New Machine ID"
          [(ngModel)]="newMachineID"
          (input)="checkNewMachineIDInput()"
          (keyup.enter)="addMachineID()"
          floating-label
          style="width:100%"></mdl-textfield>
        <mdl-textfield
          type="text"
          label="Machine Make and Model"
          [(ngModel)]="newModel"
          (input)="checkNewModelInput()"
          (keyup.enter)="addMachineID()"
          floating-label
          style="width:70%"></mdl-textfield>
        <button 
          [disabled]="!newMachineValid"
          mdl-button 
          mdl-button-type="mini-fab"
          mdl-ripple
          (click)="addMachineID()">
          <mdl-icon>add</mdl-icon>
        </button>
      </mdl-card-actions>

    </mdl-card>
  </div>

  <div *ngIf="currentMachine" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
    <mdl-card mdl-shadow="6"  style="width:100%">
      <mdl-card-title>
        <h2 mdl-card-title-text>Energies for {{currentMachine}}</h2>
      </mdl-card-title>
        <mdl-list>
          <mdl-list-item *ngFor="let energy of specifications[currentMachine].energy" lines="3">
            <mdl-list-item-primary-content>
              <span>{{energy}} MeV</span>
              <mdl-list-item-text-body>R50: {{specifications[currentMachine].R50[energy]}} cm</mdl-list-item-text-body>
            </mdl-list-item-primary-content>
            <mdl-list-item-secondary-action>
              <button
                mdl-button
                mdl-button-type="icon"
                mdl-ripple
                [disabled]="true"
                (click)="null"><mdl-icon>done</mdl-icon>       
              </button>
              <button
                mdl-button
                mdl-button-type="icon"
                mdl-ripple
                [disabled]="true"
                (click)="null"><mdl-icon>edit</mdl-icon>       
              </button>
              <button
                mdl-button
                mdl-button-type="icon"
                mdl-ripple
                [disabled]="true"
                (click)="null"><mdl-icon>delete</mdl-icon>       
              </button>
            </mdl-list-item-secondary-action>
          </mdl-list-item>
        </mdl-list>

      <mdl-card-actions mdl-card-border>
        <mdl-textfield
          type="text"
          label="New Energy (MeV)"
          [(ngModel)]="newEnergy"
          (input)="checkNewEnergyInput()"
          (keyup.enter)="addEnergy()"
          floating-label
          style="width:100%"></mdl-textfield>
        <mdl-textfield
          type="text"
          label="R50 for New Energy (cm)"
          [(ngModel)]="newR50"
          (input)="checkNewR50Input()"
          (keyup.enter)="addEnergy()"
          floating-label
          style="width:70%"></mdl-textfield>
        <button 
          [disabled]="!newEnergySetValid" 
          mdl-button 
          mdl-button-type="mini-fab"
          (click)="addEnergy()">
          <mdl-icon>add</mdl-icon>
        </button>
      </mdl-card-actions>
    </mdl-card>
  </div>

  <div *ngIf="currentMachine" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
    <mdl-card mdl-shadow="6"  style="width:100%">
      <mdl-card-title>
        <h2 mdl-card-title-text>Applicators for {{currentMachine}}</h2>
      </mdl-card-title>
        <mdl-list>
          <mdl-list-item *ngFor="let applicator of specifications[currentMachine].applicator">
            <mdl-list-item-primary-content>
              <mdl-list-item-text-body>{{applicator}}</mdl-list-item-text-body>
            </mdl-list-item-primary-content>
            <mdl-list-item-secondary-action>
              <button
                mdl-button
                mdl-button-type="icon"
                mdl-ripple
                [disabled]="true"
                (click)="null"><mdl-icon>done</mdl-icon>       
              </button>
              <button
                mdl-button
                mdl-button-type="icon"
                mdl-ripple
                [disabled]="true"
                (click)="null"><mdl-icon>edit</mdl-icon>       
              </button>
              <button
                mdl-button
                mdl-button-type="icon"
                mdl-ripple
                [disabled]="true"
                (click)="null"><mdl-icon>delete</mdl-icon>       
              </button>
            </mdl-list-item-secondary-action>
          </mdl-list-item>
        </mdl-list>

      <mdl-card-actions mdl-card-border>
        <mdl-textfield
          type="text"
          label="New Applicator"
          [(ngModel)]="newApplicator"
          (input)="checkNewApplicatorInput()"
          (keyup.enter)="addApplicator()"
          floating-label
          style="width:70%"></mdl-textfield>
        <button 
          [disabled]="!newApplicatorValid" 
          mdl-button 
          mdl-button-type="mini-fab"
          (click)="addApplicator()">
          <mdl-icon>add</mdl-icon>
        </button>
      </mdl-card-actions>
    </mdl-card>
  </div>

  <div *ngIf="currentMachine" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
    <mdl-card mdl-shadow="6"  style="width:100%">
      <mdl-card-title>
        <h2 mdl-card-title-text>SSDs for {{currentMachine}}</h2>
      </mdl-card-title>
        <mdl-list>
          <mdl-list-item *ngFor="let ssd of specifications[currentMachine].ssd">
            <mdl-list-item-primary-content>
              <mdl-list-item-text-body>{{ssd}} cm</mdl-list-item-text-body>
            </mdl-list-item-primary-content>
            <mdl-list-item-secondary-action>
              <button
                mdl-button
                mdl-button-type="icon"
                mdl-ripple
                [disabled]="true"
                (click)="null"><mdl-icon>done</mdl-icon>       
              </button>
              <button
                mdl-button
                mdl-button-type="icon"
                mdl-ripple
                [disabled]="true"
                (click)="null"><mdl-icon>edit</mdl-icon>       
              </button>
              <button
                mdl-button
                mdl-button-type="icon"
                mdl-ripple
                [disabled]="true"
                (click)="null"><mdl-icon>delete</mdl-icon>       
              </button>
            </mdl-list-item-secondary-action>
          </mdl-list-item>
        </mdl-list>

      <mdl-card-actions mdl-card-border>
        <mdl-textfield
          type="text"
          label="New SSD (cm)"
          [(ngModel)]="newSSD"
          (input)="checkNewSSDInput()"
          (keyup.enter)="addSSD()"
          floating-label
          style="width:70%"></mdl-textfield>
        <button 
          [disabled]="!newSSDValid" 
          mdl-button 
          mdl-button-type="mini-fab"
          (click)="addSSD()">
          <mdl-icon>add</mdl-icon>
        </button>
      </mdl-card-actions>
    </mdl-card>
  </div>


  <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
    <h5>Raw specification data editing</h5>
    <p>
      Edit the raw machine specifications data below. 
      Currently error checking on this raw input is not implemented.
      Incorrectly editing the data below may cause the web app not to function.
      Input data above to determine the data structure required.</p>
    <my-json-specifications #jsonInput
      [specifications]="specifications"
      (specificationsUpdated)="changeSpecifications($event)">
    </my-json-specifications>
  </div>

</div>

