<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
    <p>
      Just use linear interpolation to look up factors.
      Use ramanujans formula to convert to and from area (is that possible?) within javascript.
    </p>
  </div>

  <div [style.width]="'100%'">
    <my-choose-specifications #settingsPicker
      (settingsUpdated)=currentMachineSettingsUpdated($event)>
    </my-choose-specifications>
  </div>

  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone" #plotContainer>
  </div>
</div>