<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
    <h5>Storage management</h5>
    <p>
      This component is for the management of the data stored within this browser's database.
    </p>

    <h5>Export browser database</h5>
    <p>
      The following button will export the browser database to a .json file.
    </p>
    <button
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      angulartics2On="click" angularticsEvent="Storage | Export browser database"
      (click)="exportDataBase()">Export browser database
    </button>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
    <h5>Empty current database</h5>
    <p>
      The following button will wipe your browser database.
      This is not reversable. The browser database will need to be restored from a prior .json file.
    </p>
    <button
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      angulartics2On="click" angularticsEvent="Storage | Empty current database"
      [disabled]="false"
      (click)="dataPersistenceService.emptyDatabase()">Empty browser database
    </button>

  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">


    <h5>Append to database from file</h5>
    <p>
      The following button will append the contents of the given .json file to your browser database.
      If a key within your .json file matches that of your browser database then the database entry will be overwritten.
      This is not reversable.
    </p>
    <input type='file' (change)='openFile($event)'>

    <button      
      mdl-button mdl-button-type="raised" 
      mdl-colored="primary" 
      mdl-ripple
      angulartics2On="click" angularticsEvent="Storage | Empty current database"
      [disabled]="fileJsonObject == null"
      (click)="dataPersistenceService.appendJsonToDatabase(fileJsonObject)">Append file to database
    </button>
  </div>
</div>